* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.container {
  width: 100%;
  height: 100vh;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgb(61,72,87);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 70px;
  letter-spacing: 2px;
  color:red;
  font-family: 'Nerko One', cursive;
}

#search_field {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#search_text {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
}

#search_btn {
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}

#genre {
  width: 140px;
}

#select > label {
  margin-right: 10px;
}

main {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow: auto;
}

#no_poster {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 330px;
  transform: rotateZ(-30deg);
}

.movies {
  position: relative;
  cursor: pointer;
  margin: 20px 10px;
  /*gestire bene altezza e larghezza in base alle immagini che si scaricano*/
  /* width: calc(100%/6 - 20px); */
  width: 220px;
  height: 334px;
  min-width: 220px;
  /* padding: 20px; */
  background-color: black;
  border: 2px solid #FFFFFF;
}

.movies > img {
  width: 100%;
  /*gestire bene altezza e larghezza in base alle immagini che si scaricano*/
  height: 330px;
  object-fit: cover;
  object-position: center;
}

.infos {
  padding: 20px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: opacity 0.5s;
  /*in caso togliere e allargare l'immagine*/
  overflow: auto;
}

.language_original > img {
  width: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.movies:hover .infos {
  opacity: 1;
}

.infos > p > span:first-child {
  font-weight: 700;
  vertical-align: middle;
}

.infos > p > span:last-child {
  font-weight: 200;
}

.infos > p {
  margin: 5px 0;
}

.infos > p i {
  color: yellow;
}

#no_result {
  width: 100%;
  height: 100%;
  display: flex;
}

#no_result > p {
  margin: auto;
  font-size: 50px;
}

/* ::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track:hover {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */
