<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
    <title>BOOLFLIX</title>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <header>
          <h1>Boolflix</h1>
          <div id="search_field">
            <input id="search_text" type="text" placeholder="Search Movie" v-model="search" @keyup.enter="searchMovie()">
            <button id="search_btn" type="button" name="button" @click="searchMovie()">SEARCH</button>
          </div>
        </header>
        <main>
          <div v-if="result == true && resultsArr.length == 0" id="no_result">
            <p>NO RESULT</p>
          </div>
          <div v-else v-for="(result, index) in resultsArr" class="movies" @mouseleave="scrollUp(index)">
            <img v-if="result.poster_path != null" :src="link+result.poster_path" alt="">
            <p v-else id="no_poster">NO POSTER FOUND</p>
            <div class="infos">
              <p> <span>Titolo:</span>
                <span v-if="typeof result.title !== 'undefined'" class="title">{{result.title}}
                </span>
                <span v-else class="title">{{result.name}}
                </span>
              </p>
              <p> <span>Titolo Originale:</span>
                <span v-if="typeof result.original_title !== 'undefined'" class="title_original">{{result.original_title}}
                </span>
                <span v-else class="title">{{result.original_name}}
                </span>
              </p>
              <p> <span>Lingua Originale:</span> <span class="language_original">
                <img v-if="typeof flags[result.original_language] !== 'undefined'" :src="flags[result.original_language]" alt="">
                <span v-else>{{result.original_language}}</span>
              </span> </p>
              <p> <span>Voto:</span>
                <span class="score" >
                  <i v-for="star in stars(result)" :class="star"></i>
                </span>
              </p>
              <p> <span>Cast:</span>
                <span>
                  <span v-if="result.hasOwnProperty('cast')">{{result.cast.slice(0,5).join(", ")}}</span>
                </span>
              </p>
              <p> <span>Generi:</span>
                <span>
                  <span>{{findGenres(result.genre_ids).join(", ")}}</span>
                </span>
              </p>
              <p> <span>Overview:</span> <span class="overview">{{result.overview}}</span> </p>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
